name: deployment to GCP platform
on:
  push:
    branches:
      - main
  
jobs:
  dev_deployment:
    environment: dev
    runs-on: ubuntu-latest
    env:
      WORKING_DIR: ${{ github.workspace }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3  
      - name: 'Install KICS and dependencies'
        run: |
          ls -al
          git clone https://github.com/Checkmarx/kics.git
          cd kics
          ls -al
        working-directory: ${{ env.WORKING_DIR }}
            
