name: deployment to GCP platform
on:
  push:
    branches:
      - main
  
jobs:
  dev_deployment:
    environment: dev
    runs-on: ubuntu-latest
    env:
      WORKING_DIR: ${{ github.workspace }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3  
      - name: 'Install KICS and dependencies'
        run: |
          docker run -t -v ${{ env.WORKING_DIR }}:/path checkmarx/kics:latest scan -p /path/main.tf -o "/path/"
        working-directory: ${{ env.WORKING_DIR }}
            
