name: deployment to GCP platform
on:
  push:
    branches:
      - main
  
jobs:
  dev_deployment:
    environment: dev
    runs-on: ubuntu-latest
    env:
      WORKING_DIR: ${{ github.workspace }}
    steps:
      - name: 'Install KICS and dependencies'
        run: |
          curl -L https://github.com/Checkmarx/kics/releases/latest/download/kics -o kics
          chmod +x kics
          ls -al 
        working-directory: ${{ env.WORKING_DIR }}
            
